body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
}

h1 {
    font-size: 24px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin-bottom: 20px;
}

input, button {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#message {
    margin-bottom: 20px;
    color: red;
}

a {
    display: block;
    margin-top: 20px;
    color: #1E90FF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
